.container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background: #010101;
    border-radius: 1.25rem;
    z-index: 1;
    top: 1.25rem;
    left: 0;
    width: calc(100% - 326px);
    height: calc(100% - 40px);
    margin: 0 0 1.25rem 306px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.containerRetracted {
    width: calc(100% - 122px);
    margin: 0px 4px 1.25rem 102px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    width: calc(100% - 7.8rem);
    margin-top: 0.5rem;
}

.contentContainer > * {
    gap: 2rem;
}

.headerContainer {
    position: fixed;
    padding: 1.6rem 0rem;
    overflow: hidden;
    background-color: #010101;
    z-index: 2;
    border-radius: 1.25rem;
    width: calc(100% - 326px);
}

.headerContainerRetracted {
    width: calc(100% - 122px);
}

@media (max-width: 886px) {
    .contentContainer {
        margin-top: 2rem;
    }
}

.footerContainer {
    display: none;
}

@media (max-width: 667px) {
    .container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        background: #010101;
        border-radius: 1.25rem;
        z-index: 1;
        top: 1.5rem;
        left: 0;
        width: 100%;
        height: calc(100% - 5rem);
        margin: 3rem 0 0 0;
    }
    .contentContainer {
        width: calc(100% - 2rem);
        margin-top: -6rem;
    }
    .headerContainer {
        display: none;
    }
    .footerContainer {
        position: fixed;
        top: 92vh;
        height: 8vh;
        background-color: #0f1110;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-height: 300px) {
    .container {
        display: none;
    }
}
