.container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background: #010101;
    border-radius: 1.25rem;
    z-index: 1;
    top: 1.25rem;
    left: 0;
    width: calc(100% - 326px);
    height: calc(100% - 40px);
    margin: 0 0 1.25rem 306px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container > * {
    width: 100%;
}

.container::-webkit-scrollbar {
    display: none;
}

.containerRetracted {
    width: calc(100% - 122px);
    margin: 0px 4px 1.25rem 102px;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    width: calc(100% - 7.8rem);
    margin-top: 0.5rem;
}

.contentContainer > * {
    gap: 2rem;
}

.headerContainer {
    position: absolute;
    border-radius: 1.25rem;
    padding: 1rem 2rem;
    overflow: hidden;
    background-color: #010101;
    z-index: 2;
    width: calc(100% - 3.75rem);
}

/* .headerContainer {
    position: fixed;
    padding: 1rem 0rem;
    overflow: hidden;
    background-color: #010101;
    z-index: 2;
    width: calc(100% - 11.6rem);
} */

/* TODO Fazer um container para o texto + botao com margins left e right 
    Fazer também o container ocupar 100% da width do pai 
*/

@media (max-width: 886px) {
    .contentContainer {
        margin-top: 6.25rem;
    }
}
