.title {
    color: #72d5c8;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.organizationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
}

.dateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15vw;
}

.competitionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    background-color: transparent;
    border-color: transparent;
}

.stateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10vw;
}

.competitionText,
.text {
    color: #b7bab6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.14px;
}

.competitionText {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.competitionText::before,
.competitionText::after {
    content: "";
    display: block;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #72d5c8;
    transition: width 0.3s ease-in-out;
}

.competitionText:hover::before {
    width: 98%;
}

.competitionText:active {
    color: #e3efee;
}

.verticalLine,
.verticalLineState {
    border-left: 1px solid #335c58;
    height: 2.1rem;
    margin: 0 1rem;
}

@media (max-width: 880px) {
    .organizationContainer {
        width: 19%;
    }

    .dateContainer {
        width: 18%;
    }

    .organizationContainer {
        width: 22vw;
    }

    .stateContainer {
        width: 20%;
    }

    .text {
        color: #b7bab6;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.14px;
    }

    .competitionText {
        font-size: 14px;
    }

    .stateContainer {
        display: none;
    }

    .verticalLineState {
        display: none;
    }

    .competitionText::before,
    .competitionText::after {
        width: 0;
    }

    .competitionText:hover::before {
        width: 0;
    }
}
