.container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #010101;
    border-radius: 1.25rem;
    z-index: 1;
    top: 1.25rem;
    height: calc(100% - 40px);
    width: calc(100% - 326px);
    margin: 0px 4px 1.25rem 306px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.contentContainer {
    position: absolute;
    display: flex;
    flex: 1;
    margin-top: 6rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 2rem;
    z-index: 1;
}

.containerRetracted {
    width: calc(100% - 122px);
    margin: 0px 4px 1.25rem 102px;
}

@media (max-width: 886px) {
    .contentContainer {
        margin-top: 12rem;
    }
}

h1 {
    color: #b7bab6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
