.Sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20.4rem;
    align-items: center;
    background-color: #0f1110;
}

.SidebarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem 0rem 0rem;
}

.TitleLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo {
    height: 3rem;
    margin-right: 5%;
}

.ListButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem 0rem 0rem;
    width: 100%;
}
