.Sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 306px;
    max-width: 306px;
    align-items: center;
    justify-content: flex-start;
    background-color: #0f1110;
}

.SidebarRetracted {
    max-width: 102px;
    min-width: 102px;
}

.SidebarHeader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}

.TitleLogoContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.Logo {
    height: 2.7rem;
}

.Title {
    height: 2.26rem;
}

.ListButtonContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4rem;
    width: 100%;
    gap: 3rem;
}

.BottomListButtonContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 2rem;
}
