.container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    background: #0f1110;
    z-index: 0;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}
