.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 91;
}

.modalContent {
    position: absolute;
    z-index: 92;
    flex-direction: column;
    overflow: hidden;
    padding: 0rem 1.6rem;
    border-radius: 30px;
    background-color: #0f1110;
    width: 80vw;
    height: fit-content;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modalContent::-webkit-scrollbar {
    display: none;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (max-height: 708px) {
    .modalContent {
        transform: scale(0.9);
    }
}

@media (max-height: 667px) {
    .modalContent {
        transform: scale(0.8);
    }
}

@media (max-height: 588px) {
    .modalContent {
        transform: scale(0.7);
    }
}

@media (max-height: 529px) {
    .modalContent {
        transform: scale(0.6);
    }
}

@media (max-height: 471px) {
    .modalContent {
        transform: scale(0.5);
    }
}

@media (max-height: 350px) {
    .modalContent {
        transform: scale(0.4);
    }
}

@media (max-height: 280px) {
    .modalContent {
        transform: scale(0.3);
    }
}

@media (max-height: 235px) {
    .modalContent {
        display: none;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.titleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.exitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: fit-content;
}

.title,
.exitText {
    color: #b7bab6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.contentContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

.contentTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
}

.contentDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80vw;
    padding: 2rem 4rem;
}

.verticalLine {
    border-left: 1px solid #335c58;
}

.horizontalLine {
    border-bottom: 1px solid #335c58;
    width: fill-available;
}

.text,
.category,
.details {
    color: #b7bab6;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.14px;
}

._ {
    display: none;
}

@media screen and (max-width: 667px) {
    .modalContent {
        width: 95vw;
        height: 100vh;
    }
    .contentTitleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 35vw;
    }

    .contentDetailsContainer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 65vw;
        padding: 2rem 2rem;
    }
}
