.container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    background: #0f1110;
    overflow: hidden;
}

.contentContainer {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background: #010101;
    margin: 2rem 2rem 2rem 0rem;
    border-radius: 20px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b7bab6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 2rem 2rem 4rem;
    width: 100%;
    gap: 2rem;
    overflow: hidden;
}

/*media query for h1 starting at 586px to make the text show just the end*/
@media (max-width: 886px) {
    .headerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 0rem;
    }
    h1 {
        font-size: 22px;
    }
}
