.container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #010101;
    border-radius: 1.25rem;
    z-index: 1;
    top: 1.25rem;
    height: calc(100% - 40px);
    width: calc(100% - 326px);
    margin: 0px 4px 1.25rem 306px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.contentContainer {
    position: absolute;
    display: flex;
    flex: 1;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px rem;
    z-index: 1;
    width: calc(100% - 85px);
}

.containerRetracted {
    width: calc(100% - 122px);
    margin: 0px 4px 1.25rem 102px;
}

@media (max-width: 886px) {
    .contentContainer {
        margin-top: 12rem;
    }
}

h1 {
    color: #b7bab6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #0f1110;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1.25rem;
    margin: 2rem;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    color: aquamarine;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titleContainerButtons {
    display: flex;
    flex-direction: row;
}

.iconImage {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.buttonSearch {
    margin-left: 1rem;
    padding: 8px 30px;
    background-color: rgba(68, 85, 82, 0.2);
    flex-direction: column;
    color: #b7bab6;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    align-items: left;
    display: flex;
    background-image: url("./Assets/search.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 7px 50%;
}


.dropdown {
    position: relative;
    flex-direction: column;
}

.buttonDropdown {
    background-color: rgba(68, 85, 82, 0.2);
    color: #b7bab6;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
    padding: 8px 30px;
    display: flex;
    justify-content: left;
    width: 15rem;
    background-image: url("./Assets/dropdown.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px);
}

.listDropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(24, 31, 27);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 0.5rem;
    z-index: 10;
    margin-left: 1rem;
}

.listDropdown a {
    color: #b7bab6;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
}

.listDropdown a:hover {
    background-color: rgba(183, 186, 182, 0.2);
}

.dropdown:hover .listDropdown {
    display: block;
}


.table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tableRowHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #b7bab6;
    flex: 1;
}

.tableRow0 {
    display: flex;
    justify-content: center;
    color: #b7bab6;
    flex: 1;
}

.tableRow {
    display: flex;
    border-bottom: 1px solid #335C58;
    justify-content: center;
    color: #b7bab6;
    flex: 1;
}

.tableHeader {
    font-weight: bold;
    color: #b7bab6;
}

.tableCellHeader {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    color: #b7bab6;
    flex: 1;
    border-right: 1px #335C58;
}

.tableCell {
    display: flex;
    justify-content: center;
    padding: 1.5rem 1rem;
    text-align: center;
    color: #b7bab6;
    flex: 1;
    border-right: 1px #335C58;
}

.tableCell:first-child {
    border-left: none;
}

.tableCellHeader:first-child {
    border-left: none;
}

.tableCell:last-child {
    border-right: none;
}

.tableCellHeader:last-child {
    border-right: none;
}

.organizerColumn {
    flex: 2;
    border-left: 1px solid #335C58;
    border-right: 1px solid #335C58;
}

.nameColumn {
    flex: 3;
    border-left: 1px solid #335C58;
    border-right: 1px solid #335C58;
}

.dateColumn {
    flex: 1;
    border-left: 1px solid #335C58;
    border-right: 1px solid #335C58;
}

.stateColumn {
    flex: 1;
    border-left: 1px solid #335C58;
    border-right: 1px solid #335C58;
}

.pageContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    color: #b7bab6;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    width: 100%;
}

.pageContainerButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: #b7bab6;
    list-style: none;
}

.paginationPage {
    margin: 0 0.3rem;
    padding: 0.4rem;
    cursor: pointer;
    border: 1px solid #b7bab6;
    background-color: rgba(68, 85, 82, 0.2);
    border-radius: 4px;
    width: 1.2rem;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(211, 211, 211, 0.264);
    }
}

.paginationActive {
    background-color: #335C58;
    color: #fff;
    border: 1px solid #335C58;
}

.paginationPrevious,
.paginationNext {
    margin: 0 0.3rem;
    padding: 0.4rem;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #b7bab6;
    border-radius: 4px;
    width: 1.2rem;
    background-color: rgba(68, 85, 82, 0.2);
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(211, 211, 211, 0.264);
    }
}

