.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    gap: 1rem;
}

.header > * {
    height: 100%;
}

.titleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: fit-content;
    gap: 1rem;
}

.dropdown {
    position: relative;
    flex-direction: column;
}

.buttonDropdown {
    background-color: rgba(68, 85, 82, 0.2);
    color: #b7bab6;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 12.8rem;
    height: 1.4rem;
    background-image: url("./Assets/dropdown.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px);
}

.listDropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(24, 31, 27);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 0.5rem;
    z-index: 10;
    /* margin-left: 1rem; */
}

.listDropdown button {
    color: #b7bab6;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
    background-color: transparent;
    border: none;
    width: 100%;
}

.listDropdown button:hover {
    background-color: rgba(183, 186, 182, 0.2);
}

.dropdown:hover .listDropdown {
    display: block;
}

.buttonSearch {
    margin-left: 1rem;
    padding: 12px 30px;
    background-color: rgba(68, 85, 82, 0.2);
    flex-direction: column;
    color: #b7bab6;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    align-items: left;
    display: flex;
    background-image: url("./Assets/search.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 7px 50%;
}

.title {
    color: #72d5c8;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.exitText {
    color: #b7bab6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tableRowHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b7bab6;
    flex: 1;
}

.tableRow {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #335c58;
    justify-content: center;
    /* align-items: center; */
    color: #b7bab6;
    flex: 1;
}
.tableRow:last-child {
    border-bottom: none;
}

.tableHeader {
    font-weight: bold;
    color: #b7bab6;
}

.tableCellHeader {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    color: #b7bab6;
    flex: 1;
    border-right: 1px #335c58;
}

.tableCell {
    display: flex;
    justify-content: center;
    padding: 1.5rem 1rem;
    text-align: center;
    color: #b7bab6;
    flex: 1;
    border-right: 1px #335c58;
}

.tableCell:first-child {
    border-left: none;
}

.tableCellHeader:first-child {
    border-left: none;
}

.tableCell:last-child {
    border-right: none;
}

.tableCellHeader:last-child {
    border-right: none;
}

.organizerColumn {
    /* flex: 3; */
    width: 6rem;
    border-left: 1px solid #335c58;
    border-right: 1px solid #335c58;
}

.nameColumn {
    /* flex: 4; */
    width: 6rem;
    border-left: 1px solid #335c58;
    border-right: 1px solid #335c58;
}

.dateColumn {
    /* flex: 4; */
    width: 6rem;
    border-left: 1px solid #335c58;
    border-right: 1px solid #335c58;
}

.stateColumn {
    /* flex: 6; */
    width: 6rem;
    border-left: 1px solid #335c58;
    border-right: 1px solid #335c58;
}

.text,
.category,
.details {
    color: #b7bab6;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.14px;
}

._ {
    display: none;
}

@media screen and (max-width: 900px) {
    .header {
        height: 14vh;
    }
    .contentTitleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 35vw;
    }
    .contentDetailsContainer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 65vw;
        padding: 2rem 2rem;
    }
    .buttonsContainer {
        flex-direction: column;
    }
    .buttonDropdown {
        margin-left: 1rem;
    }
}
