.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #010101;
    width: calc(100% - 2rem);
    padding: 0 1rem;
}

.textContainer {
    max-height: 5.7rem;
    z-index: 1;
    overflow: hidden;
}

.buttonContainer {
    position: relative;
    z-index: 1;
}

@media (max-width: 886px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 1.1rem;
    }
    .buttonContainer {
        position: relative;
        z-index: 1;
        right: 0rem;
    }
}
