.headerContainer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 26px;
    left: calc(306px + 2rem);
    width: calc(100% - (306px + 2rem + 4.8rem));
    overflow: hidden;
    background-color: #010101;
    z-index: 1;
}

.retractedHeaderContainer {
    width: calc(100% - (102px + 2rem + 4.8rem));
    left: calc(102px + 2rem);
}

@media (max-width: 886px) {
    .headerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 20px 0rem 2rem 0rem;
        gap: 0rem;
    }
}
