.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #010101;
    width: calc(100% - 4.5rem);
    padding: 0 2.25rem;
}

.textContainer {
    max-height: 5.7rem;
    z-index: 1;
    overflow: hidden;
}

.buttonContainer {
    position: relative;
    z-index: 1;
}

@media (max-width: 886px) {
    .container {
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 1.1rem;
    }
    .buttonContainer {
        position: relative;
        z-index: 1;
        right: 0rem;
    }
}

h1 {
    color: #b7bab6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

@media (max-width: 667px) {
    .container {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
        background: transparent;
        gap: 1rem;
    }
    .textContainer {
        max-height: 4rem;
    }
    h1 {
        font-size: 22px;
    }
}
