.container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    background: #0f1110;
    overflow: hidden;
}

.contentContainer {
    position: fixed;
    display: flex;
    flex: 1;
    height: calc(100% - 40px);
    width: calc(100% - 326px);
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    background: #010101;
    margin: 20px 4px 20px 306px;
    border-radius: 20px;
}

.contentContainerRetracted {
    width: calc(100% - 122px);
    margin: 20px 4px 20px 102px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b7bab6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
